/* global & resets */


.rubik-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

:root {

  /* colors */
  --grey500: #626C7F;
  --grey50: #F4F6FA;
  --blue950: #2D3949;
  --blue900: #313E51;
  --blue850: #3B4D66;
  --blue500: #306AFF;
  --blue300: #ABC1E1;
  --blue100: #EDF1F9;
  --blue50: #EBF0FF;
  --green500: #2FD887;
  --green100: #E0FDEF;
  --purple600: #A729F5;
  --purple100: #F6E7FF;
  --orange400: #FF7E35;
  --orange50: #FFF5ED;
  --red500: #EE5454;

  /* theme */

  --bg: #F4F6FA;
  --text: #313E51;

}

body.light {
  --bg: #F4F6FA;
  --text: #313E51;
  background-image: url(./assets/images/pattern-background-desktop-light.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

body.dark {
  --bg: #313E51;
  --text: #ffffff;
  background-image: url(./assets/images/pattern-background-desktop-dark.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* main */

body {
  padding: 95px 9.7222vw;
  background-color: var(--bg);
  color: var(--text);
}

.themeswitch {
  display: flex;
  width: 128px;
  margin-bottom: 10vh;
}

/* start menu page */

.appcontainer {
  display: flex;
  height: max(588px, 48.334vh);
}

.appcontainer {
  width: 100%;
  display: flex;
}

 .menutext, .quizbuttons {
  width: 50%;
}

.menutext {
  justify-items: left;
  position: relative;
}

.menutext p, #quizquestion {
  font-size: 4rem;
  font-weight: 300;
}

.menutext p:last-of-type, #questionnumber {
  font-size: 1.25rem;
  font-style: italic;
  margin-top: 3rem;
}

#questionnumber {
  margin-top: 0rem;
}

#quizquestion {
  font-size: 36px;
  font-style: normal;
  font-weight: 450;
  line-height: 120%;
  text-align: left;

}
.quizbuttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.quizbutton p {
  font-size: 1.75rem;
}

.quizbutton, .submitbutton {
  display: flex;
  height: 104px;
  border-radius: 24px;
  border: none;
  align-items: center;
  padding: 1.5rem;
  margin-top: 1rem;
}

.quizbutton {
  position: relative;
}

.submitbutton {
  background-color: var(--purple600);
  color: white;
  font-size: 1.75rem;
  justify-content: center;
  font-weight: 500;
  margin-top: 2rem;
  height: 92px;
}

.quizbutton:first-of-type {
    margin-top: 0;
  }

.quizbutton.light {
  background-color: #ffffff;
}

.quizbutton.dark {
 background-color: var(--blue850);
 color: white;
}

.quizbutton.light:hover {
  box-shadow: 0 0 5px #2D3949; 
}

.quizbutton.dark:hover {
  box-shadow: 0 0 5px #ABC1E1;
}

.quizbutton:focus {
  border: 3px solid #B24EFF;
}

.submitbutton:hover {
  background-color: #B24EFF;
  box-shadow: 0 0 5px #2D3949; 
}

.buttonicon, .quizbuttonicon {
  width: 56px;
  border-radius: 8px;
  margin-right: 2rem;
}

.quizbuttonicon {
  background-color: var(--grey50);
  padding: 12.5px 0;
  color: #282c34;
}

.quizbutton p:nth-of-type(2) {
  width: 63.12%;
}

.quizbutton.incorrect {
  border: 3px solid var(--red500);
}

.quizbutton.correct {
  border: 3px solid var(--green500);
}

.quizbutton.incorrect p:first-of-type {
  background-color: var(--red500);
}

.quizbutton.correct p:first-of-type {
  background-color: var(--green500);
}

.quizbutton img:last-child {
  position: absolute;
  right: 29px;

}

.errormessage {
  display: flex;
  color: var(--text);
  font-size: 1.5rem;
  margin-top: 34px;
  justify-content: center;
}

button:disabled {
  color: var(--text);
}

#scored {
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
}

.scoreoutput {
  height: 65.99%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.scoreoutput.light {
  background-color: white;
}

.scoreoutput.dark {
  background-color: var(--blue850);
}

.halfbutton {
  width: 48%;
  display: inline;
}

.scorebuttons {
  display: flex;
  justify-content: space-between;
}

.scoreID {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8.3%;
  margin-bottom: 2.5rem;
}

.scoreID p {
  font-size: 28px;
  margin-left: 24px;
  color: var(--text);
}

.scoreoutput p:nth-last-of-type(2) {
  font-size: 144px;
}

.quizIDmain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
}

.quizIDmain p:first-of-type {
  font-size: 28px;
  margin: 0;
  font-style: normal;
  text-align: center;
}

.quizIDmain img {
  width: 40px;
  padding: 8px;
  margin-right: 24px;
}

/* app */

.App {
  text-align: center;
  position: relative;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* tablets */

@media screen and (max-width: 1200px) {
  body {
    padding: 54px;
  }
  .appcontainer {
    flex-direction: column;
    height: 670px;
    justify-content: space-between;
  }

  .menutext, .quizbuttons {
    width: 100%;
  }

  .menutext p:last-of-type {
    margin-top: 1rem;
  }

  .quizbutton {
    height: 88px;
  }

  .quizbuttons {
    height: max(512px, 63.28%);
    justify-content: space-between;
    margin-top: 4rem;
  }

  .scoreoutput {
    height: max(388px, 75.78%);
  }
}

/* mobile */

@media screen and (max-width: 767px) {
  body {
    padding: 1.5rem;
  }

  .appcontainer {
    height: max(501px, 67.7vh);
    justify-content: flex-start;
  }
  
  .appcontainer p {
    font-size: 2.5rem;
  }

  .menutext p:last-of-type {
    font-size: 18px;
    margin-bottom: 2.5rem;
  }

  .quizbutton {
    height: 72px;
    border-radius: 12px;
    margin-top: 1rem;
  }

  .quizbutton:first-of-type {
    margin-top: 0;
  }

  .quizbutton p {
    font-size: 18px;
    margin: 0px 10px;
  }

  .buttonicon {
    width: 40px;
    margin-right: 1rem;
  }

  .quizbuttons {
    justify-content: flex-start;
  }

  .quizIDmain p:first-of-type {
    font-size: 18px;
    margin-left: -8px;
  }
}